body{
}
.navbar{
   border-radius:0px;
}

/* SIDEBAR */
.sidebar{
	color:white;
	height:100%;
}
.side-section{
	padding:5px;
	border-bottom:solid 2px white;
	margin-bottom:10px;
}
.search-input{
	margin-bottom:5px;
}

/* TWEETS CONTAINER */
.tweets-container{
	padding:20px;
}

.streaming-header{
	padding:10px;
}
.streaming-header .card-title{
	margin-bottom:0px;
}
.streaming-header h4{
	margin:0px;
}
streaming-keyword{
	font-weight:bold;
	font-style:italic;
}

/* TWEETS LIST */
.card-block{
	padding:0;
}
.tweet-header{
	color:white;
	padding:2px;
	font-size:small;
}
#tweet-table .positive{
	background-color:#5cb85c;
}
#tweet-table .negative{
	background-color:#d9534f;
}
#tweet-table .neutral{
	background-color:#a6a6a6;
}

/* USER CARD */
.user-card{
	border:none;
}
.badge-influencer{
	display: inline-block;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    font-size: small;
}
.profile-name{
	margin-top:5px;
	font-size:small;	
}

/* TWEET CARD */
.tweet-card{
	border:none;
}
.tweet-text{
	padding: 3px 0px 5px 0px;
}

/* BUBBLE LIST */
.bubbleList ul{
	list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: smaller;
}

.bubbleList li:first-child{
	border-top: none;
	padding: 0px 0px 3px 0px;
}

.bubbleList li{
	border-top: 1px solid darkgrey;
	padding: 3px 0px 3px 0px;
}