body{
}
.navbar{
   border-radius:0px;
}

/* SIDEBAR */
.sidebar{
	color:white;
	height:100%;
}
.side-section{
	padding:5px;
	border-bottom:solid 2px white;
	margin-bottom:10px;
}
.search-input{
	margin-bottom:5px;
}

/* TWEETs LIST */
.card-block{
	padding:0;
}
.tweet-header{
	color:white;
}
#tweet-table .positive{
	background-color:#5cb85c;
}
#tweet-table .negative{
	background-color:#d9534f;
}
#tweet-table .neutral{
	background-color:#a6a6a6;
}